// Good 'ol grey

// Old way
//$colours-1:     #4d4d4d;
//$colours-2:     #333333;
//$colours-sep-1: #606060;
//$colours-sep-2: #393939;

// New way
$base-colour: #4d4d4d;

$colours-2:                  #333333;
$top-drops:                  #333333;
$menu-gradient-top:          #4d4d4d;
$menu-gradient-bottom:       #1a1a1a;
$menu-gradient-hover-top:    #333333;
$menu-gradient-hover-bottom: #4d4d4d;
$menu-item-hover:            #333333;
$menu-border-bottom:         #262626;
$menu-sub-border-top:        #141414;
$colors-sep-1:               #4d4d4d;
$colors-sep-2:               #333333;
$front-block-header-bg:      #e6e6e6;
$front-block-header-text:    #333333;
