$base-colour: #00ff00;
$colours-1:                  #00ff00;
$colours-2:                  #0000ff;
$colours-sep-1:              #ff8000;
$colours-sep-2:              #ff00ff;

$text-colour:                #00ffff;
$coloured-bg-text:           #ff0000;

$link:                       #ff8000;
$link-dark:                  #000000;
$link-light:                 #ffffff;
$donate-link-colour:         #808066;

$footer-top-colour:          #ffc033;

$button-text-colour:         #012345;
$button-colour-top:          #6789ab;
$button-colour-bottom:       #cdef01;
$button-colour-plain:        #234567;
$button-colour-top-hover:    #89abcd;
$button-colour-bottom-hover: #ef0123;
$button-colour-plain-hover:  #456789;
