Flask==0.8
Flask-Admin==0.4.2
Flask-Login==0.1
Flask-Mail==0.6.1
Flask-OAuth==0.11
Flask-Principal==0.2
Flask-SQLAlchemy==0.16
Flask-Scss==0.1
Flask-Uploads==0.1.3
Flask-WTF==0.6
Jinja2==2.6
MySQL-python==1.2.3
SQLAlchemy==0.7.6
WTForms==1.0.1
Werkzeug==0.8.2
blinker==1.2
chardet==1.0.1
distribute==0.6.24
elementtree==1.2.7-20070827-preview
httplib2==0.7.2
keyring==0.7
lamson==1.1
launchpadlib==1.9.12
lazr.authentication==0.1.2
lazr.restfulclient==0.12.0
lazr.uri==1.0.2
lockfile==0.9.1
mock==0.8.0
nose==1.1.2
oauth==1.0.1
oauth2==1.5.211
pyScss==1.1.3
pyparsing==1.5.6
python-daemon==1.6
python-dateutil==2.1
scrypt==0.5.3
scss==0.8.72
simplejson==2.3.2
six==1.1.0
testresources==0.2.4
wadllib==1.2.0
wsgi-intercept==0.5.1
wsgiref==0.1.2
zope.interface==3.8.0
