{% extends "about/about-base.html" %}

{% block title %}{{ _("Inkscape Login") }}{% endblock %}
{% block pageid %}page-user-login{% endblock %}
{% block pagetitle %}{{ _("Login") }}{% endblock %}
{% block breadcrumbs %}<a href="/">{{ _("Home") }}</a> &gt; <a>{{ _("Login") }}</a>{% endblock %}
{% block content_classes %}with-short-right-sidebar{% endblock %}

{% block main %}
{% from "macros/form_field.html" import render_field %}
    <form action="{{ url_for('.login') }}" method="post">
        <fieldset>
            <ul>
                {{ render_field(form.username, maxlength=254, autofocus='autofocus', required='required', max=254) }}
                {{ render_field(form.password, maxlength=1000, required='required') }}
                <li><input type="submit" value="{{ _("Login") }}"</li>
            </ul>
        {{ form.hidden_tag() }}
        </fieldset>
    </form>
{% endblock main %}
