<!DOCTYPE html>
<html lang="{{ session.language or "en" }}">
    <head>
        <meta charset="utf-8">
        <link href="{{ url_for('static', filename='favicon.ico') }}" rel="shortcut icon">
        <link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/themes/base/jquery-ui.css"></link>
        <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" type="text/css">
        <title>{% block title %}{{ _("Inkscape: Draw Freely.") }}{% endblock title %}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
        <script src="{{ url_for('static', filename='js/sijax/sijax.js') }}"></script>
        {% block head %}
        {% endblock head %}
    </head>
    <body id="{% block pageid %}{% endblock %}" class="{% block pageclass %}{% endblock %}">
        <div class="header">
            {% include "base/header.html" %}
        </div>
        {% block precontent %}{% endblock precontent %}
        <div id="content" class="{% block content_classes %}{% endblock content_classes %}">
            {% block content %}{% endblock content %}
        </div>
        <div class="footer">
            {% include "base/footer.html" %}
        </div>
        <p id="final-footer">{{ _("Website designed by <a href=\"http://skymaiden.com/\">Hinerangi Courtenay</a> in Inkscape and developed by <a href=\"http://jeffkayser.com/\">Jeff Kayser</a>") }}</p>
    </body>
</html>

