<div class="nav">
    <ul>
        <li>
        <a href="/about/">{{ _("About") }}</a>
            <ul>
                <li><a href="/about/">{{ _("Overview") }}</a></li>
                <li><a href="/about/features/">{{ _("Features") }}</a></li>
                <li><a href="/screenshots/">{{ _("Screenshots") }}</a></li>
                <li><a href="/gallery/">{{ _("Gallery") }}</a></li>
                <li><a href="/faq/">{{ _("FAQ") }}</a></li>
                <li><a href="/about/testimonials/">{{ _("User testimonials") }}</a></li>
            </ul>
        </li>
        <li>
        <a href="/download/">{{ _("Download") }}</a>
            <ul>
                <li><a href="/download/">{{ _("Official releases") }}</a></li>
                <li><a href="/download/development/">{{ _("Development versions") }}</a></li>
                <li><a href="/download/addons/">{{ _("Add-ons") }}</a></li>
                <li><a href="/download/clipart/">{{ _("Clip art") }}</a></li>
            </ul>
        </li>
        <li>
        <a href="/learn/">{{ _("Learn") }}</a>
            <ul>
                <li><a href="/learn/documentation/">{{ _("User documentation") }}</a></li>
                <li><a href="/learn/books/">{{ _("Books") }}</a></li>
                <li><a href="/learn/tutorials/">{{ _("Tutorials") }}</a></li>
                <li><a href="/learn/manuals/">{{ _("Manuals") }}</a></li>
                <li><a href="/learn/wiki/">{{ _("Wiki") }}</a></li>
            </ul>
        </li>
        <li>
        <a href="/community/">{{ _("Community") }}</a>
            <ul>
                <li><a href="/community/get-involved/">{{ _("Get Involved") }}</a></li>
                <li><a href="/community/connect/">{{ _("Connect") }}</a></li>
                <li><a href="/community/forums-and-blogs/">{{ _("Forums &amp; blogs") }}</a></li>
                <li><a href="/community/mailing-lists/">{{ _("Mailing lists") }}</a></li>
                <li><a href="/community/help/">{{ _("Help &amp; support") }}</a></li>
                <li><a href="/community/contact/">{{ _("Contact") }}</a></li>
                <li><a href="/donate/">{{ _("Donate") }}</a></li>
            </ul>
        </li>
        <li>
        <a href="/developers/">{{ _("Developers") }}</a>
            <ul>
                <li><a href="/developers/docs/">{{ _("Developer docs") }}</a></li>
                <li><a href="http://launchpad.net/inkscape">{{ _("Launchpad") }}</a></li>
                <li><a href="/developers/roadmap/">{{ _("Roadmap") }}</a></li>
                <li><a href="/developers/bazaar/">{{ _("Bazaar") }}</a></li>
                <li><a href="/developers/code/">{{ _("Source code") }}</a></li>
            </ul>
        </li>
        <li>
        <a href="/news/">{{ _("News") }}</a>
            <ul>
                <li><a href="/news/category/releases/">{{ _("Releases") }}</a></li>
                <li><a href="/news/category/contests/">{{ _("Contests") }}</a></li>
                <li><a href="/news/category/events/">{{ _("Events") }}</a></li>
                <li><a href="/news/category/press/">{{ _("Press") }}</a></li>
            </ul>
        </li>
    </ul>
</div>
<p>{{ _("Inkscape is Free and Open Source Software licensed under the GPL.") }}</p>
<!-- {{ _("This site is running Python 2.7.1 / Flask 0.8 / inkscape-web r118") }} -->
