{% if current_user.is_anonymous() %}
<p>{{ _("Log in") }} / {{ _("Register") }}</p>
<form class="topdrop" action="{{ url_for('users.login') }}" method="post">
    <p id="toplogin-head">{{ _("Already a member? Log in below.") }}</p>
    <label for="toplogin-username">{{ _("Username") }}</label>
    <input name="username" id="toplogin-username" type="text">
    <label for="toplogin-password">{{ _("Password") }}</label>
    <input name="password" id="toplogin-password" type="password">
    <input id="toplogin-submit" type="submit" value="{{ _("Log in") }}">
    <p id="toplogin-register">{{ _("Not a member?") }}<br><a href="{{ url_for('users.register') }}">{{ _("Register now.") }}</a></p>
    <p id="toplogin-alternate"><span>{{ _("Or log in with") }}</span>
    <a href="" id="toplogin-google"></a>
    <a href="" id="toplogin-facebook"></a>
    <a href="{{ url_for('users.login_twitter') }}" id="toplogin-twitter"></a>
    <a href="" id="toplogin-yahoo"></a>
    <a href="" id="toplogin-live"></a>
    <a href="" id="toplogin-wordpress"></a></p>
</form>
{% else %}
<p><a href="{{ url_for('users.logout') }}">{{ _("Logout") }}</a></p>
<div class="topdrop">
    <p id="toplogin-head">{{ _("Logged in as") }} <strong>{{ current_user.username }}</strong></p>
    <p><a href="{{ url_for('users.profile') }}">{{ _("Your profile") }}</a></p>
    <p><a href="{{ url_for('users.logout') }}">{{ _("Logout") }}</a></p>
</div>
{% endif %}
