{% macro render_field(field, show_label=true) -%}
{% if field.type == "HiddenField" -%}
    {{ field(**kwargs) }}
{% else -%}
    {% if show_label -%}
    <li>
    {% endif -%}
    {% if field.type == "BooleanField" -%}
        {{ field(**kwargs) }}
        {{ field.label(class="label") }}
    {% else -%}
        {% if show_label -%}
        {{ field.label(class="label") }}
            <br>
        {% endif -%}
        {% if field.errors -%}
            {% set css_class = kwargs.pop('class', '') + ' has_error' -%}
            {{ field(class=css_class|trim, **kwargs) }}
            <ul class="errors">
                {% for error in field.errors -%}
                <li>{{ error|e }}</li>
                {% endfor -%}
            </ul>
        {% else -%}
            {{ field(**kwargs) }}
        {% endif -%}
    {% endif -%}
    {% if show_label -%}
    </li>
    {% endif -%}
{% endif -%}
{% endmacro -%}
