{% extends "base/base-2-columns.html" %}

{% block title %}About Inkscape{% endblock title %}
{% block pageid %}page-about{% endblock pageid %}
{% block pagetitle %}Inkscape Overview{% endblock pagetitle %}
{% block content_classes %}with-short-right-sidebar{% endblock content_classes %}

{% block head %}
<script type="text/javascript">
    $(document).ready(function() { $('.topnav-about > a').addClass('current'); });
</script>
{% endblock %}

{% block main %}{% endblock main %}

{% block sidebar %}
    <h2>Download</h2>
    <p>So you're ready to give Inkscape a try? Great! Download the latest version now.</p>
    <div class="download-box w160"><a class="button download w160" href="/download/"><span>Free Download</span></a><span            class="download-version">Latest stable release: {% include "VERSION" %}</span></div>
    <h2>Get Involved</h2>
    <p>Participate in our thriving community! There are lots of ways to contribute to the Inkscape project.</p>
    <ul>
        <li>Spread the word</li>
        <li>Help others</li>
        <li>Test and report bugs</li>
        <li>Code and develop</li>
        <li>Donate</li>
    </ul>
    <p><a href="/community/get-involved">See all the ways you can help...</a></p>
{% endblock sidebar %}
