{% extends "about/about-base.html" %}

{% block pageid %}page-gallery{% endblock %}
{% block pageclass %}page-gallery{% endblock %}
{% block title %}Gallery{% endblock %}
{% block pagetitle %}Gallery{% endblock %}



{% block main %}
{{ g.test }}
<p>Inkscapers are finding this tool useful for a wide variety of purposes, as you can see from these examples.</p>

<p>Also see <a href="/screenshots/">screenshots</a> showing features of Inkscape.</p>

<div class="category">
<h2>Branding</h2>
<a href="/gallery/branding/"><img class="thumbnail" src="{{ url_for('static', filename='images/gallery/suse_studio_break_free_inkscape_thumb.png') }}" alt=""></a>
<p>Branding is where you use a variety of applications to create a whole package.</p>
</div>

<div class="category flip">
<h2>Icons</h2>
<a href="/gallery/icons/"><img class="thumbnail" src="{{ url_for('static', filename='images/gallery/icons_jimmac_yast_smt_thumb.png') }}" alt=""></a>
<p>Icons are probably one of the most popular use cases when it comes to using Inkscape. Almost all complete icon sets on Linux desktop are created mainly using Inkscape.</p>
</div>

<div class="category">
<h2>Web Design</h2>
<a href="/gallery/web-design/"><img class="thumbnail" src="{{ url_for('static', filename='images/gallery/inkscape-moonshine_thumb.png') }}" alt=""></a>
<p>Website design examples from Jakub "Jimmac" Steiner et al.</p>
</div>

<div class="category flip">
<h2>CD Booklet</h2>
<a href="/gallery/cd-booklet/"><img class="thumbnail" src="{{ url_for('static', filename='images/gallery/artemio_inkscape_FZ_booklet_thumb.png') }}" alt=""></a>
<p>This demonstrates creating a CD booklet to go along with a compilation CD for the Fantomized.info community.</p>
</div>

<div class="category">
<h2>Game Maps</h2>
<a href="{{ url_for('static', filename='images/gallery/inkscape_rpg_map.png') }}"><img class="thumbnail" src="{{ url_for('static', filename='images/gallery/inkscape_rpg_map_thumb.png') }}" alt=""></a>
<p>Nicu Buculei showing how Inkscape can be used to create game maps using a stamps library.</p>
<p>These images are dedicated to the <a rel="license" href="http://creativecommons.org/licenses/publicdomain/">Public Domain</a> so can be used without any restriction.</p>
<p><a rel="license" href="http://creativecommons.org/licenses/publicdomain/"><img alt="Public Domain Dedication" src="http://creativecommons.org/images/public/norights.gif"></a></p>
</div>
{% endblock %}
